.author-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Author text */
.author-name {
  font-weight: 500;
  color: #333;
}

/* Card container */
.author-card {
  position: absolute;
  top: 120%;
  left: 0;
  width: 220px;
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 100;
}

/* Show on hover */
.author-hover:hover .author-card {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Profile image */
.author-card-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* Info text */
.author-card-info h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.author-card-info p {
  margin: 2px 0;
  font-size: 12px;
  color: #666;
}

.author-card-info span {
  font-size: 11px;
  color: #999;
}


/* Overlay */
.author-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box */
.author-modal {
  background: #fff;
  width: 665px;
  padding: 24px;
  border-radius: 14px;
  text-align: center;
  position: relative;
  animation: scaleIn 0.3s ease;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
   color: black;
}

/* Profile image */
.author-modal-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

/* About text */
.author-about {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
  line-height: 1.5;
}

/* Animation */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

